<footer class="">
    <div class="padded">
        <div>
            <p>Created by Luke Strange &copy; 2025-26</p>
            <p>Built with <a href="https://lume.land">Lume</a></p>
            <p>Data from Fantasy Premier League</p>
        </div>
        {{> const now = new Date(Date.now()).toLocaleString("en-uk");}}
        {{ comp.Updated({updated: now})}}
    </div>
</footer>