---
layout: templates/page.vto 
---
{{# {{ detailedPlayerData |> JSON.stringify }} #}}
{{ include './players/availability.vto' }}

<h2>Fixtures</h2>
{{ comp.fixtures({fixtures: elements.detailedPlayerData[el.id]["fixtures"]}) }}

{{ include './players/summary.vto'}}
{{# {{ include './players/notes.md' |> md }} #}}
{{# {{ comp.objectList({data: el})}} #}}
