---
layout: templates/page.vto
---
<img src="/assets/images/club/t{{team.code}}.png" alt="{{team.name}}">
{{ include "./teams/summary.vto" }}
{{# {{ comp.objectList({data: team}) }} #}}
{{# {{ team |> dump() }} #}}